body{
    background-color: #0c6b9f;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    color: rgb(255, 0, 0);
    border: 3px solid rgb(5, 5, 5);
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

section{
    background-color: #b9b9b9;
    margin: 15px;
    padding: 15px;
    width: 450px;
    height: 285px;
    border-radius: 16px;
    border: 5px solid white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

